@{
    ViewBag.Title = "Все пользователи";
}
<form id="check" method="post">
    <table class="table">
        <tr><td><label><input class="check" name="checkall" type="checkbox" onclick="checkedAll(check)">Check/Uncheck All</label></td><td>ID</td><td>Name</td><td>Email</td><td>Reg Date</td><td>Last Log Date</td><td>Status</td></tr>

        @foreach (var item in ViewBag.Users)
        {
            <tr>
                <td><input id="checkbox" class="check" name="check[@item.Email]" type="checkbox"></td>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.AuthDate</td>
                <td>@item.LogDate</td>
                @if (item.IsBlocked)
                {
                    <td>Blocked</td>
                }
                else
                {
                    <td>Active</td>
                }
            </tr>
        }
    </table>
</form>


